.hero {
  background-image: url("../assets/homepage-bg.png");
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
